.background{
    width: 300px;
    height: 200px;

    background-color: orange;
    /* 배경색 추가하기 */

    background-image: url("https://img.danawa.com/prod_img/500000/636/738/img/14738636_1.jpg?shrink=330:330&_v=20210714125552");
    /* 배경 이미지 추가하기 */

    background-size: contain;
    /* 배경 이미지의 크기 지정, 이미지가 다 보일 수 있게 크기를 맞춰줌.(비율 맞춤) */
    
    background-size: cover;
    /* 배경 이미지의 크기 지정, 최대 크기(비율 맞춤), 이미지가 짤릴 수 있다. 이미지와 비율을 맞춰줘야 함 */

    background-size: 100px 100px;
    /* 이미지의 사이즈 지정 너비, 높이 */

    background-position: 50px 50px;
    /* 배경 이미지의 위치 지정  x축, y축 */

    background-position: center;
    /* 배경 이미지의 위치  가운데 맞춤 */

    background-repeat: no-repeat;
    /* 배경 이미지 반복 여부, 반복하지 않는다. */

    background-repeat: repeat;
    /* 배경 이미지 반복 여부, 기본값. 반복한다. */

    background-repeat: repeat-x;
    /* 배경 이미지를 x 축으로만 반복한다. */
    
    background-repeat: repeat-y;
    /* 배경 이미지를 y 축으로만 반복한다. */
    
}